[submodule "command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "indent-guides"]
	path = .vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pyflakes"]
	path = .vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "closetag"]
	path = .vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "pytest"]
	path = .vim/bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git

[submodule "youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git

[submodule ".vim/bundle/multiple-cursors"]
	path = .vim/bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
